<!DOCTYPE html>
<html>
    <head>
        <title>Udemy Review</title>
        <!-- Compiled and minified CSS -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>
      <style>
      body{
        background-image: url('https://picjumbo.com/wp-content/uploads/Smooth-Touch-Workspace.jpg');
        background-size: cover;
        text-align: center;
        margin-top: 200px;
      }
      a{
        margin:10px;
      }
      </style>
