<% include partials/landing %>

<h1>Deciding if you should take<br>
        a course?</h1>

<a class="waves-effect waves-light btn" href="/login">Login</a>
<a class="waves-effect waves-light btn" href="/register">Signup</a>
<br>

<a href="/udemy"><i class="large material-icons  teal-text text-lighten-2">skip_next</i></a>

<% include partials/footer %>
